body, html{
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    color: #0a72b8;
    text-align: center;
    
}

.kp{
    color:black;
    text-align: center;    
}

.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
}

.todo p{
    width: 90%;
    color: blueviolet;
}

.status button{
    margin: 2px;
    border-radius: 100px;
    border: 1px solid lightgray;
}

.complete{
   background-color: green;
   color: white; 
}

.delete{
    background-color: red;
    color: white; 
 }

 input{
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
    border: 0;
    width: 75%;
    height: 35px;
    color: rgb(19, 66, 7);
    font-size: 15px;
    outline: none;
    background-color: whitesmoke;
    border: 2px solid #0a72b8;
 }

 .todos{
    height: 575px;
    overflow: auto;
    background-color: whitesmoke;
    border: 2px solid lightgray;
 }